{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="page-content">
        <section id="landlords-listings" class="listings profile">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>Type</td>
                                <td>Amount</td>
                                <td>Currency</td>
                                <td>Created</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in pagination %}
                                <tr>
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ transaction.type }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.currency }}</td>
                                    <td>{{ transaction.created|date('Y\m\d') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}