
<div class="notification-template-nav">
    <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" class="{{ (currentRoute == 'erp_notification_user_notification_create') ? ' active' : ''}}"><a href="{{ path('erp_notification_user_notification_create') }}">Create new Alert</a></li>
                <li role="presentation" class="{{ (currentRoute == 'erp_notification_user_notification_history') ? ' active' : ''}}"><a href="{{ path('erp_notification_user_notification_history') }}">Alerts History</a></li>
                <li role="presentation" class="{{ (currentRoute == 'erp_notification_user_notification_list') ? ' active' : ''}}"><a href="{{ path('erp_notification_user_notification_list') }}">Show Automated Alerts</a></li>
            </ul>
    </div>
</div>