{% extends 'ErpNotificationBundle::base.html.twig' %}

{% block pageSubContent %}
    {{ parent() }}
    <section id="managers-profile" class="profile">
        <div class="container">
            {% include "ErpNotificationBundle:UserNotification:actions.html.twig" %}
            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            <h3>Alerts</h3>
            {% if alerts is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <td>Type</td>
                            <td>Template</td>
                            <td>Send Message</td>
                            <td>Property</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for alert in alerts %}
                        <tr>
                            <td>{{alert.template.type}}</td>
                            <td>{{alert.template.title}}</td>
                            <td>
                                {% if alert.sendNotificationAutomatically %}
                                    Send Notification on Rent Due Date <br/>
                                {% endif %}
                                {% for alertItem in alert.alerts %}
                                    {{alertItem.daysAfter}} days after <br/>
                                {% endfor %}
                                {% for notificationItem in alert.notifications %}
                                    {{notificationItem.daysBefore}} days before <br/>
                                {% endfor %}
                            </td>
                            <td>
                                {% for property in alert.properties %}
                                    {{property}} <br/>
                                {% endfor %}
                            </td>
                            <td>
                                <a
                                    class="btn red-btn"
                                    href="{{ path('erp_notification_user_notification_update', {'id': alert.id}) }}"
                                >
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No alerts found</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
