{% form_theme form _self %}

{%- block date_widget -%}
    {% set type = 'text' %}
    {{ block('form_widget_simple') }}
{%- endblock date_widget -%}

<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Accounting Ledger</div>
    </div>
    {{ form_start(form) }}
    <div class="form-group row">
        <div class="col-xs-2">
            {{ form_label(form.dateFrom) }}
            {{ form_widget(form.dateFrom) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.dateTo) }}
            {{ form_widget(form.dateTo) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.landlord) }}
            {{ form_widget(form.landlord) }}
        </div>
    </div>
    <div class="col-xs-4">
        {{ form_label(form.button) }}
        {{ form_widget(form.button) }}
    </div>
    {{ form_end(form) }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-xs-3">Landlord</th>
            <th class="col-xs-2">Income</th>
            <th class="col-xs-2">Expense</th>
            <th class="col-xs-4">Balance</th>
        </tr>
        </thead>
        <tbody>
        {#<tr>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left">3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
        {#</tr>        <tr>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left">3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
        {#</tr>        <tr>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left">3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
        {#</tr>        <tr>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
            {#<td class="text-left">3424234</td>#}
            {#<td class="text-left" nowrap>3424234</td>#}
        {#</tr>#}
        {% if (pagination|length) %}
        {% for item in pagination %}
            <tr>
                <td class="text-left" nowrap>{{ item.landlord }}</td>
                <td class="text-left" nowrap>{{ item.income }}</td>
                <td class="text-left">{{ item.expense }}</td>
                <td class="text-left" nowrap>{{ item.balance }}</td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No matches.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

</div>
