<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Accounting Ledger / Manager: {{user.fullName }}</div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-xs-3">Date</th>
            <th class="col-xs-3">Transaction</th>
            <th class="col-xs-3">Description</th>
            <th class="col-xs-3">Status</th>
            <th class="col-xs-2" nowrap>Income / Expense</th>
            <th class="col-xs-4">Balance</th>
        </tr>
        </thead>
        <tbody>
        {% if (pagination|length) %}
            {% for item in pagination %}
                <tr>
                    <td class="text-left">{{ item.created|date('M d, Y / h:i') }}</td>
                    <td class="text-left">
                        {{ item.customer ? item.customer.user.fullName : '' }}<br/>
                        {{ item.type }}
                    </td>
                    <td class="text-left">
                        {% if (item.customer.id == user.stripeCustomer.id) %}
                        Tenant to Manager
                        {% elseif (item.account.id == user.stripeAccount.id) %}
                        Manager to Landlord
                        {% endif %}
                    </td>
                    <td class="text-left">{{ item.status }}</td>
                    <td class="text-left">
                        {% if (item.customer.id == user.stripeCustomer.id) %}
                            +
                        {% elseif (item.account.id == user.stripeAccount.id) %}
                            -
                        {% endif %}{{ item.amount|money }}</td>
                    <td class="text-left">{{ item.balance|money }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No matches.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
