{% form_theme form _self %}

{%- block date_widget -%}
    {% set type = 'text' %}
    {{ block('form_widget_simple') }}
{%- endblock date_widget -%}

<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Accounting Ledger</div>
    </div>
    {{ form_start(form) }}
    <div class="form-group">
        <div class="col-xs-3">
            {{ form_widget(form.landlord) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.dateFrom) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.dateTo) }}
        </div>
        <div class="col-xs-4">
            {{ form_widget(form.button) }}
        </div>
    </div>

    {{ form_end(form) }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-xs-3">Landlord</th>
            <th class="col-xs-2">Income</th>
            <th class="col-xs-2">Expense</th>
            <th class="col-xs-4">Balance</th>
        </tr>
        </thead>
        <tbody>
        {% if (pagination|length) %}
            {% for item in pagination %}
                <tr>
                    <td class="text-left">{{ item.customer ? item.customer.user.fullName : '' }}</td>
                    <td class="text-left">{{ item.amount }}</td>
                    <td class="text-left">{{ (95*item.amount/100) }}</td>
                    <td class="text-left">{{ (5*item.amount/100) }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No matches.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

</div>
