{% extends '::base.html.twig' %}

{% set headerWhiteClass = true %}

{% block headerBannerTitle %}
    Confirm Charge
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
{% endblock %}

{% block pageContent %}
    {{ parent() }}

    <section id="managers-profile" class="profile">
        <div class="container">
            {% if charge.isPaid %}
                <p class="text-center">
                    Charge already paid.
                </p>
            {% else %}
                <p class="text-center">
                    {% if charge.isRecurring %}
                        This charge in recurring charge.
                    {% else %}
                        This charge is single charge.
                    {% endif %}
                    Amount: {{ charge.amount|money }}.
                    Description: {{ charge.description }}
                </p>
                <div class="confirm-align_btn">
                    <button id='verify-ba' class="btn edit-btn">Verify</button>
                    {{ form_start(form) }}
                        {{ form(form) }}
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascript_inline %}
    <script>
        (function ($) {
            var linkHandler = Plaid.create({
                env: '{{ plaid_env }}',
                clientName: 'Zoobdoo',
                key: '{{ plaid_public_key }}',
                product: ['auth'],
                selectAccount: true,
                onSuccess: function(public_token, metadata) {
                    $('[name="erp_stripe_plaid_bank_account[accountId]"]').val(metadata.account_id);
                    $('[name="erp_stripe_plaid_bank_account[publicToken]"]').val(public_token);
                },
                onExit: function(err, metadata) {
                    if (err != null) {

                    }
                }
            });

            $('#verify-ba').click(function() {
                linkHandler.open();
            });
        })(jQuery);
    </script>
{% endblock %}