{% extends 'ErpUserBundle:Mail:layout.html.twig' %}

{% block content %}
    <p>
        Hello, <b>{{ charge.landlord.firstname }} {{ charge.landlord.lastname }}.</b>
    </p>
    <p>
        Please see following transfer payment details: <br/><br/>
        <b>Transfer Id:</b> {{ charge.txnId }}  <br/>
        <b>Amount:</b> {{ charge.amount }} USD  <br/>
        <b>Transfer DateTime:</b> {{ charge.datTimeMail }}  <br/><br/>
    </p>
    <p>
        {% if (charge.description) %}
            <b>Note:</b> {{ charge.description }}
        {% endif %}
    </p>
    <p>Sincerely yours, <br/>{{ charge.manager.firstname }} {{ charge.manager.lastname }}.</p>
{% endblock %}