{% set entity =  form.vars.value %}
{% set action = entity.id ? path('erp_user_late_rent_payment_update', {'user': entity.user.id}) : path('erp_user_late_rent_payment_create', {'user': entity.user.id}) %}

{{ form_start(form, {'action': action}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_label(form.amount, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-sm-6">
                {{ form_label(form.type, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn red-btn">Submit</button>
{{ form_end(form, {'render_rest': false}) }}