{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% import '::widgets/form_errors.html.twig' as form_custom_errors %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/erpproperty/js/unit.controller.js') }}"></script>
{% endblock %}

{% block pageContent %}
    {% set ba = constant('Erp\\PaymentBundle\\PaySimple\\Managers\\PaySimpleManagerInterface::BANK_ACCOUNT') %}

    {{ parent() }}
    <section id="register-form-tenants" class="register-form cc-form-wrap">
        <div class="container">
            <div class="row">
                <div class="title-block title-block_units">
                    <h1 class="bold-text">Please enter the amount of units you'd like to add.</h1>
                </div>
            </div>

            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}

            <div class="row">
                <div class="col-md-6 prising_wrap">
                    <div class="prising_info">
                        <h2>Prising</h2>
                        <ol class="prising_list">
                            <li>1st unit: $125/ annual fee (includes all services)</li>
                            <li>2nd and other Units: $20 each/annual fee (includes all services)</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6 form_wrap">
                {#<div class="col-md-4 col-md-offset-4">#}
                    {% if errors %}
                        <span class="field-validation-error">{{ errors }}</span>
                    {% endif %}

                    {# TODO money format on js #}
                    {% if hasSubscriptions %}
                        <p>Current year price: $<span id="current-year-price">{{ currentYearPrice }}</span></p>
                        <p>Additional unit price: $<span id="additional-unit-price">{{ unitSettings.quantityPerUnit }}</span></p>
                        <p>Total price: $<span id="total-price">{{ totalPrice }}</span></p>
                    {% else %}
                        <p>Initial unit price: $<span id="initial-unit-price">{{ unitSettings.initialQuantity }}</span></p>
                        <p>Additional unit price: $<span id="additional-unit-price">{{ unitSettings.quantityPerUnit }}</span></p>
                        <p>New year price: $<span id="total-price">0</span></p>
                    {% endif %}

                    {{ form_start(form, { attr: {'class': 'form-horizontal cc-form', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
                        <div class="row">
                            <div class="form-group form-group_units">
                                <div class="col-xs-12">
                                    <div class="form-group_units_label">
                                        {{ form_label(form.count) }}
                                    </div>
                                    <div class="form-group_units_form">
                                        {{ form_widget(form.count, {'id': 'unit-count'}) }}
                                    </div>
                                    {{ form_custom_errors.widget(form.count) }}

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12 cc-form-footer">
                                    <br/>
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
