{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% import '::widgets/form_errors.html.twig' as form_custom_errors %}

{% block pageContent %}
    {% set ba = constant('Erp\\PaymentBundle\\PaySimple\\Managers\\PaySimpleManagerInterface::BANK_ACCOUNT') %}

    {{ parent() }}
    <section id="register-form-tenants" class="register-form cc-form-wrap">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Buy Units</h1>
                </div>
            </div>

            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% if errors %}
                        <span class="field-validation-error">{{ errors }}</span>
                    {% endif %}

                    {{ form_start(form, { attr: {'class': 'form-horizontal cc-form', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    {{ form_label(form.count) }}
                                    {{ form_widget(form.count) }}
                                    {{ form_custom_errors.widget(form.count) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12 cc-form-footer">
                                    <br/>
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
