{% set entity = form.vars.value %}

<div id="properties-confirmation">
    <form action="{{ path('erp_property_save_settings') }}">
        <input type="hidden" name="data" value="{{ data|json_encode }}">
        <ul>
            {% for property in properties %}
                <li>
                    {{ property.id }} - {{ property.name }}
                </li>
            {% endfor %}
        </ul>
        <button
                type="submit"
                class="btn edit-btn"
                step="properties-confirmation"
        >
            Submit
        </button>
        <a
                class="btn edit-btn"
                href="{{ path('erp_property_choose_properties') }}"
                role="back"
                step="properties-table"
        >
            Back
        </a>
    </form>

    <div class="table_info">
        Choosen Properties:
        <div>{{ entity.dayUntilDue }}</div>
        <div>{{ entity.paymentAmount }}</div>
        <div>{{ entity.allowPartialPayments ? 'Yes' : 'No' }}</div>
        <div>{{ entity.allowCreditCardPayments ? 'Yes' : 'No' }}</div>
        <div>{{ entity.allowAutoDraft ? 'Yes': 'No' }}</div>
    </div>
</div>
