{% set cc = constant('Erp\\PaymentBundle\\Entity\\StripeCustomer::CREDIT_CARD') %}
{% set ba = constant('Erp\\PaymentBundle\\Entity\\StripeCustomer::BANK_ACCOUNT') %}

<div class="col-md-5 col-xs-6 profile-widget-item widget-last height_custom">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Bank {% if app.user.hasRole('ROLE_TENANT') %}&amp; Cards {% endif %}
            Information
        </div>
    </div>

    {#TODO Optimize #}
    {% if app.user.hasRole('ROLE_TENANT') %}
        {% if creditCard or bankAccount %}
            <div class="row bank-info-row">
                <div class="col-xs-6">
                    {% if creditCard is null %}
                        <div class="bank-details">
                            Cards information is not added yet
                        </div>
                        <div class="row edit-row">
                            <a type="submit" href="{{ path('erp_payment_stripe_save_credit_card') }}"
                               class="btn edit-btn">
                                add card info
                            </a>
                        </div>
                    {% else %}
                        <div class="bank-details">
                            <div class="bank-card">
                                <span>{{ creditCard.name }}</span>
                                <span>**** **** **** {{ creditCard.last4 }}</span>
                            </div>
                        </div>
                        <div class="row edit-row">
                            <a type="submit" href="{{ path('erp_payment_stripe_save_credit_card') }}"
                               class="btn edit-btn">edit</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-6">
                    {% if bankAccount is null %}
                        <div class="bank-details">
                            Bank information is not added yet
                        </div>
                        <div class="row edit-row">
                            <button id='verify-ba' class="btn edit-btn">Verify bank account</button>
                        </div>
                    {% else %}
                        <div class="bank-details">
                            <div class="bank-title"><span
                                        class="bank-icon"></span><span>{{ bankAccount.bank_name }}</span></div>
                            <div class="bank-card"><span>{{ bankAccount.account_holder_name }}</span></div>
                            <div class="bank-card"><span>{{ bankAccount.routing_number }}</span></div>
                        </div>
                        <div class="row edit-row">
                            <button id='verify-ba' class="btn edit-btn">Verify bank account</button>
                        </div>

                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="row bank-info-row">
                <div class="col-xs-12">
                    <span style="color: #000;">Please add Bank or Cards information in order to pay rent.</span>
                </div>
            </div>
            <div class="row bank-info-row">
                <div class="col-xs-6">
                    <div class="row edit-row custombutton">
                        <a type="submit" href="{{ path('erp_payment_stripe_save_credit_card') }}"
                           class="btn edit-btn">add card info</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row edit-row custombutton">
                        <button id='verify-ba' class="btn edit-btn">Verify bank account</button>
                    </div>
                </div>
            </div>
            <hr>
        {% endif %}
    {% else %}
        {% if bankAccount %}
            <div class="row bank-info-row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="bank-details col-xs-8">
                            <div class="bank-title"><span class="bank-icon"></span><span>{{ bankAccount.bank_name }}</span></div>
                            <div class="bank-card"><span>Account Holder Name: {{ bankAccount.account_holder_name }}</span></div>
                            <div class="bank-card"><span>Routing Number: {{ bankAccount.routing_number }}</span></div>
                        </div>
                        <div class="row edit-row col-xs-4">
                            <button id='verify-ba' class="btn edit-btn">Verify</button>
                        </div>
                    </div>

                </div>
            </div>
            <hr>
        {% else %}
            <div class="row bank-info-row">
                <div class="col-xs-12">
                    <span style="color: #000;">
                        Start receiving tenant payments now.<br/>Just upload the following documents below through SendSafely (Secured and Encrypted), and fill out free merchant account form.</span>
                    <br/>
                    <a href="https://e-rentpay.sendsafely.com/dropzone/fwakBbMRyK1GbUugv4dynFwPgubX63NcoimDokMOU6k"
                       target="_blank" style="color:#000; padding-bottom: 5px; font-weight: bold;">Document Upload
                        Form</a>&nbsp;&nbsp;&nbsp;<a
                            href="https://paysimple.com/partners/partner_lead_entry.html?pID=eRentPay"
                            target="_blank" style="color:#000; padding-bottom: 5px; font-weight: bold;">Free
                        Merchant Account Request</a>
                    Questions?<br/><a href="mailto:info@e-rentpay.com" style="color: #000;">info@e-rentpay.com</a>
                    </span>
                </div>
            </div>
            <div class="row bank-info-row">
                <div class="col-xs-12">
                    <div class="row edit-row custombutton">
                        <button id='verify-ba' class="btn edit-btn">Verify</button>
                    </div>
                </div>
            </div>
            <hr>
        {% endif %}
    {% endif %}

    <div class="question-mark">
        {% if app.user.hasRole('ROLE_TENANT') %}
            <a role="popup"
               href="{{ path('erp_user_profile_hint_content', {'hintCode':'tenant_bank_and_card_information'}) }}">&#063;</a>
        {% else %}
            <a role="popup"
               href="{{ path('erp_user_profile_hint_content', {'hintCode':'landlord_bank_and_card_information'}) }}">&#063;</a>
        {% endif %}
    </div>
</div>
