{% set entity =  form.vars.value %}
{% set action = entity.id ? path('erp_user_late_rent_payment_settings_update', {'user': entity.user.id}) : path('erp_user_late_rent_payment_settings_create', {'user': entity.user.id}) %}

{{ form_start(form, {'action': action}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_label(form.fee, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.fee, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-sm-6">
                {{ form_label(form.category, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-12 btn_padding"><button type="submit" class="btn red-btn">Submit</button></div>
        </div>
    </div>

{{ form_end(form, {'render_rest': false}) }}