{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/erppayment/js/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erppayment/js/cacheflows-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erppayment/js/invoices-chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erppayment/js/transactions-chart.js') }}"></script>
{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <section id="landlords-profile" class="profile">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Dashboard</h1>
                </div>
            </div>

            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}

            <div class="row profile-widget-row">
                {{ render(controller('ErpPaymentBundle:Stripe:showPaymentDetails')) }}
            </div>
            <div class="row profile-widget-row profile-widget-custom">
                {{ render(controller('ErpPaymentBundle:Stripe:showCashflows')) }}
                {{ render(controller('ErpPaymentBundle:Stripe:showInvoices')) }}
            </div>
            <div class="row profile-widget-row">
                {{ render(controller('ErpPaymentBundle:Stripe:showTransactions')) }}
            </div>
        </div>
    </section>
{% endblock %}