<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Late Rent Payments</div>
    </div>
    <div class="history-block">
        <div class="payment-history">
            <ul class="payment-table-title">
                <li>
                    <span class="col-xs-3 bold-text">Tenant</span>
                    <span class="col-xs-3 bold-text amount-col">Address</span>
                    <span class="col-xs-3 bold-text amount-col">Total owed</span>
                    <span class="col-xs-3 bold-text amount-col">Number of day late</span>
                </li>
            </ul>
            <ul class="payment-table">
                {# TODO Refactor balance calculation #}
                {% for item in items %}
                    {% set title = 'Set Fee' %}
                    {% set checked = false %}
                    {% set action = path('erp_user_late_rent_payment_settings_allow_rent_payments_settings', {'user': item.tenantUser.id}) %}
                    {% set popupUrl = path('erp_user_late_rent_payment_settings_create', {'user': item.tenantUser.id}) %}

                    {%- if item.tenantUser.lateRentPaymentSettings -%}
                        {% set checked = item.tenantUser.lateRentPaymentSettings.allowRentPayment ? true : false %}
                        {% set popupUrl = path('erp_user_late_rent_payment_settings_update', {'user': item.tenantUser.id}) %}

                        {% if item.tenantUser.lateRentPaymentSettings.fee %}
                            {% set title = '%s, Change Fee'|format(item.tenantUser.lateRentPaymentSettings.fee|money) %}
                        {% endif %}
                    {%- endif -%}

                    <li>
                        <span class="col-xs-3">
                            {{ item.tenantUser.fullName }}
                            <form action="{{ path('erp_user_rent_payment_remove', {'id': item.tenantUser.rentPayment.id }) }}" method="POST">
                                <button>Remove</button>
                            </form>
                        </span>
                        <span class="col-xs-3 amount-col">{{ item.address }}</span>
                        <span class="col-xs-3 amount-col">{{ item.tenantUser.lateRentPaymentBalance|stripe_money }}</span>
                        <span class="col-xs-2 amount-col">{{ item.tenantUser.rentPayment.numberOfDayLate }}</span>
                        <div class="payment-table_note">
                            <span class="col-xs-3">
                            {{ form_start(form, {'action': action}) }}
                                {{ form_label(form.allowRentPayment) }}
                                <input type="checkbox" name="{{ form.allowRentPayment.vars.full_name }}" {% if checked %}checked="checked"{% endif %}>
                            {{ form_end(form, {'render_rest': false}) }}

                            </span>
                            <span class="col-xs-3"><a href="{{ popupUrl }}" role="popup">{{ title }}</a></span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>