<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Late Rent Payments</div>
    </div>
    <div class="history-block">
        <div class="payment-history">
            <ul class="payment-table-title">
                <li>
                    <span class="col-xs-3 bold-text">Tenant</span>
                    <span class="col-xs-3 bold-text amount-col">Address</span>
                    <span class="col-xs-2 bold-text amount-col">Type</span>
                    <span class="col-xs-2 bold-text amount-col">Date</span>
                </li>
            </ul>
            <ul class="payment-table">
            {% for id, items in prepared %}
                {% set action = path('erp_user_user_allow_rent_payment', {'user': id}) %}
                {% set popupUrl = path('erp_user_late_rent_payment_create', {'user': id}) %}
                <li>
                    <span class="col-xs-3">
                        {{ items[0].user.fullName }}<a style="color: #ca171b;" role="popup" href="{{ path('erp_user_late_rent_payment_remove_user', {'id': items[0].user.id}) }}">X</a>
                        <br>
                        <a style="color: #b7b7b7;text-decoration: underline;" href="{{ path('erp_user_late_rent_payment_create', {'user': items[0].user.id}) }}" role="popup">Add Fee</a>
                        <br>
                        Total owed: {{ items[0].user.totalOwedAmount|money }}
                        <br>
                        Day Late: {{ items[0].user.rentPaymentBalance.dayLate }}
                    </span>
                    <span class="col-xs-3 amount-col"></span>
                    <span class="col-xs-2 amount-col"></span>
                    <span class="col-xs-2 amount-col"></span>
                    <span class="col-xs-2 amount-col"></span>
                    <div class="payment-table_note">
                        <span class="col-xs-3">
                            {{ form_start(form, {'action': action}) }}
                                <div>
                                     {{ form_label(form.allowRentPayment) }}
                                    <input type="checkbox" name="{{ form.allowRentPayment.vars.full_name }}" {% if items[0].user.allowRentPayment %}checked="checked"{% endif %}>
                                </div>
                                <div>
                                     {{ form_label(form.allowPartialPayment) }}
                                    <input type="checkbox" name="{{ form.allowPartialPayment.vars.full_name }}" {% if items[0].user.allowPartialPayment %}checked="checked"{% endif %}>
                                </div>
                            {{ form_end(form, {'render_rest': false}) }}
                        </span>
                    </div>
                </li>
                {% for item in items %}
                    <li>
                        <span class="col-xs-3">
                            <form method="POST" action="{{ path('erp_user_late_rent_payment_remove', {'id': item.id }) }}" style="display: inline">
                                <button class="btn edit-btn payment-table_btn" type="submit">Remove</button>
                            </form>
                        </span>
                        <span class="col-xs-3 amount-col">{{ item.user.tenantProperty.address }}</span>
                        <span class="col-xs-2 amount-col">{{ item.typeLabel }}</span>
                        <span class="col-xs-2 amount-col">{{ item.amount|money }}</span>
                        <span class="col-xs-2 amount-col">{{ item.createdAt|date('m/d/Y') }}</span>
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>