{% for userDocument in user_documents %}
    <li class="doc-table-row">
        <div class="col-xs-4 table-col file-name">
            <span class="file-name-line">
                <span class="fa fa-file-o"></span>
                <a href="{{ asset(userDocument.document.path ~ '/' ~ userDocument.document.name) }}" target="_blank">
                    {{ userDocument.document.originalName|e }}
                </a>
            </span>
            <input class="file-name-input" name="name[]" value="{{ userDocument.document.originalName|e }}"
                   data-document-id="{{ userDocument.document.id }}" type="text">
        </div>
        <div class="col-xs-2 table-col file-date">{{ userDocument.createdDate|date('m/d/Y') }}</div>
        <div class="col-xs-3 table-col">
            <div class="dropdown">
                <button class="btn btn-default btn-status dropdown-toggle disabled" data-file-id="{{ userDocument.id }}"
                        data-selected-file-status="{{ userDocument.status }}" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    {% if userDocument.isSent %}
                        {% set status = 'Sent' %}
                    {% elseif userDocument.isSigned %}
                        {% set status = 'Signed' %}
                    {% else  %}
                        {% set status = 'Pending' %}
                    {% endif %}
                    <li class="current">
                        <span class="status"><span class="doc-status-icon"></span>{{ status }}</span>
                    </li>
                </button>
                {% if user.hasRole(role_manager) %}
                    <ul class="companions-list dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li class="doc-accepted" data-status="{{ constant('Erp\\UserBundle\\Entity\\UserDocument::STATUS_PENDING') }}">
                            <span class="status"><span class="doc-accepted-icon doc-status-icon"></span>Pending</span>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-3 table-col sign-col">
            <div class="pull-left">
                {% if not currentCompanion.hasRole(role_anonymous) and userDocument.isPending %}
                    <a href="{{ path('erp_signature_hellosign_edit_envelop', {'userDocumentId': userDocument.id}) }}" data-doc="{{ path('erp_signature_hellosign_webhook_savesignature', {'userDocumentId': userDocument.id}) }}" class="sign-btn signature-btn">Sign</a>
                {% endif %}
                {% if (userDocument.fromUser is null or user.id == userDocument.fromUser.id and status != constant('Erp\\UserBundle\\Entity\\UserDocument::STATUS_PENDING')) or user.hasRole(role_manager) %}
                    <a role="popup" href="{{ path('erp_user_document_delete', {'documentId':userDocument.id}) }}" class="doc-delete">×</a>
                {% endif %}
            </div>
            <div class="pull-left error-div">
                <span class="error"></span>
            </div>
        </div>
    </li>
{% endfor %}
