{% extends 'ErpNotificationBundle::base.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <section id="managers-profile" class="profile">
        <div class="container">
            <div class="row">
                <div class="title-block text-center">
                    {%- set title -%}
                        {%- if entity.id -%}
                            Template {{ entity.title }}
                        {%- else -%}
                            Choose properties
                        {%- endif -%}
                    {%- endset -%}
                    <h1 class="bold-text text-center">{{ title }}</h1>
                </div>
            </div>

            <div class="notif-template-nav">
                <a href="{{ path('erp_notification_user_eviction_create') }}" class="btn red-btn">Back</a>
            </div>
            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            {{ form_start(form, {'action': path('erp_notification_user_eviction_choose_properties') }) }}
            <div style="display: none;">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            {{ form_label(form.days, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="select-container">
                                {{ form_widget(form.days, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(form.days) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            {{ form_label(form.template, null, {'label_attr': {'class': 'control-label'}}) }}
                            <div class="select-container">
                                {{ form_widget(form.template, {'attr': {'class': 'form-control select-control'}}) }}
                            </div>
                            {{ form_errors(form.template) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label required" for="erp_notificationbundle_evictiondata_template">Select Properties</label>
                        {% if(properties) %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <td><input type="checkbox" name="all_elements" id="all_elements"/></td>
                                    <td>Property</td>
                                    <td>Tenant</td>
                                    <td>Days Rent Late</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for property in properties %}
                                    <tr>
                                        <td><input type="checkbox" name="idx[]" class="idx" value="{{ property.id }}" /></td>
                                        <td>{{ property.name }}</td>
                                        <td>{{ property.tenantUser.fullName }}</td>
                                        <td>{{ property.tenantUser.rentPaymentBalance.dayLate }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                         <table class="table">
                            <tr>
                              <td>No Record Found</td>
                            </tr>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <button
                        type="submit"
                        id="add-eviction"
                        class="btn red-btn pull-right" disabled = "disabled" title="Please select at least 1 property"
                >
                    Send Out
                </button>
            </div>
            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}

{% block javascript_inline %}
    <script>
        /** add multiple select / deselect functionality */

        $("#all_elements").click(function () {
            $('.idx').prop('checked', this.checked);
            if(this.checked == true){
                $("#add-eviction").removeAttr("disabled");
            }
            else if($(".idx:checked").length == '') {
                $("#add-eviction").prop("disabled", 'disabled');
            }
        });

        /** if all checkbox are selected, check the select all checkbox and vice-versa */

        $(".idx").click(function(){
            if($(".idx").length == $(".idx:checked").length) {
                $("#all_elements").prop("checked", "checked");
            } else {
                $("#all_elements").removeAttr("checked");
            }

            if(this.checked == true){
                $("#add-eviction").removeAttr("disabled");
            }
            else if($(".idx:checked").length == '') {
                $("#add-eviction").prop("disabled", 'disabled');
            }

        });

    </script>
{% endblock %}